* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/heroDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: rgba(37, 1, 43, 0.188);
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

header div {
  position: relative;
  height: 100%;
  display: flex;
  font-family: Georgia;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}

header > div:before,
header > div:after {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  background-color: rgba(108, 53, 192, 0.606);
  transition: 0.2s;
}

header > div:after {
  left: 0;
  bottom: 0;
}

header > div:before {
  right: 0;
  top: 0;
}

header > div:hover {
  color: white;
  cursor: pointer;
}

header > div:hover:after,
header > div:hover:before {
  height: 5px;
}
